body {
    font-family: Arial, sans-serif;
    line-height: 2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

header {
    background: #4e4c4c;
    color: white;
    padding: 2%;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    text-align: left;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
}

h2 {
    color: rgba(14, 45, 179, 0.63);
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    margin-right: 40px;
    margin-left: 20px;
    text-align: right;
    border-right: 2px solid black;
    padding: 20px;
}

#about, #work, #contact {
    display: flex;
}

.work-gallery{
    display: flex;
}

img {
    height: 200px;
}

.contact-info {
    display: block;
    padding: 40px;
}


